@model FinalProj.DATA.Lesson
@using FinalProj.DATA

@{
    ViewBag.Course = Model.Course.CourseName;
    ViewBag.Title = Model.LessonTitle;
}
<h1>@ViewBag.Course</h1>
<br />
<h2>@ViewBag.Title</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Introduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Introduction)
        </dd>

        @if (Model.VideoURL != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.VideoURL)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.VideoURL)
            </dd>
        }

        @if (Model.PdfFilename != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.PdfFilename)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PdfFilename)
            </dd>
        }
    </dl>
</div>



@using (Html.BeginForm("SystemCreate", "LessonViews", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
}