@model IEnumerable<FinalProj.DATA.Lesson>

@{
    ViewBag.Title = "Lessons";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LessonTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Introduction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VideoURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PdfFilename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LessonTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Introduction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VideoURL)
        </td>
        <td>
            @if (item.PdfFilename != null)
            {
                <input type="checkbox" class="check-box" disabled="disabled" checked />
            }
            else
            {
                <input type="checkbox" class="check-box" disabled="disabled" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course.CourseName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LessonId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LessonId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LessonId })
        </td>
    </tr>
}

</table>
